body {
  background-color:  #41414a;
  color: #ffffff;
  align-items: center;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2962b4;
  min-height: 40px;
}

a {
  color: white;
  padding: 2px;
  text-decoration: none;
}